html, body, textarea div, span, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, code, img, dl, dt, dd, ol, ul, li, form, label, table, tr, th, td, footer, header, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
body { font-size: 62.5%; line-height: 1; font-family: Arial, Tahoma, Verdana, sans-serif; }

input { outline: none; }

table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

body {
  background-color: #262626;
}

.container {
  margin: auto;
  width: 320px;
}

.main {
  width: 320px;
  background-color: #050505;
  position: absolute;
  top: 8%;
  height: 525px;
  border-radius: 15px;
  padding: 0 10px;
}

.output {
  width: auto;
  margin-top: 25px;
}

.output textarea {
  background-color: #050505;
  outline: none;
  border: none;
  resize: none;
  color: #fff;
  text-align: end;
  font-size: 64px;
}

.buttons {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.row {
  display: flex;
  justify-content: space-around;
}

.button {
	display: inline-block;
	outline: none;
	height: 72px;
	width: 72px;
	border-radius: 50px;
	border: none;
	background-color: #171717;
	color: #fff;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.5s ease-out;
}

.button.big {
  width: 144px;
}

.button.operation {
  background-color: #f8bb13;
  color: #070707;
}

.button.secondary {
  background-color: #9e9e9e;
  color: #070707;
}

.button:active {
  background-color: #ecececde;
}